<app-header></app-header>
<div class="">
  <div class="">
    <header class="main-heading">
      <div>
        <p class="h-name">Hello, My name is Sam</p>
        <h3 class="h3">I make blazing fast and beautiful websites</h3>
        <h2 class="h2">
          I’m a front-end engineer at Stanbic Ghana. <br />
          I also write about the web on my blog and elsewhere
        </h2>
      </div>
    </header>


    <main class="py-14 px-4 mx-auto max-w-7xl">
      <div class="flex gap-x-8 items-center pt-12">
        <a href="#" class="text-lg font-medium">Popular</a>
        <a href="#" class="text-lg text-indigo-500">Recent</a>
      </div>
      <div class="gap-6 pt-2 columns-3xs">
        <figure *ngFor="let image of images" class="py-4 [break-inside:avoid]">
          <img
            class="rounded-md"
            [src]="image.backgroundImage"
            [alt]="image.likeTag"
          />
          <figcaption class="mt-2">{{ image.title }}</figcaption>
          <p class="text-sm text-gray-500 line-clamp-2">{{ image.popupImage }}</p>
        </figure>
      </div>
      <div class="flex justify-center items-center py-12">
        <!-- <SpinnerIcon class="w-8 h-8 text-indigo-600 animate-spin" /> -->
      </div>
    </main>



</div>

<app-footer></app-footer>
