<app-header></app-header>
<div class="container">
  <div class="wrapper">
    <header class="main-heading">
      <div class="main-head">
        <p class="h-name">Hello, My name is Sam</p>
        <h3>I make blazing fast and beautiful websites</h3>
      
        <h2 class="">
            I’m a front-end engineer at Stanbic Ghana. I also write about the web
            on my blog and elsewhere
        </h2>
    </div>

      
        
    
    </header>
  </div>
</div>

<app-footer></app-footer>
