<div class="container">
    <div class="wrapper">
      <!-- <button class="toggle"><i class="fa fa-moon-o" aria-hidden="true"></i> </button> -->

      <header class="main-heading">
        <div class="">
          <img class="profile__img pulse" src="images/profile.jpg" alt="" srcset="" />
          <h5 class="heading"> Acquah Samuel </h5>
          <p class="role"> Frontend Engineer </p>
          <p class="country"> Ghana, Greater Accra </p>
        </div>
      </header>

      <div class="section-col social">
        <div class="left-content">
          <p class="left-link"> Links </p>
        </div>
        <div class="right-content">
          <ul class="social-link">
            <li> <a href="http://"> <i class="fa fa-github"></i> Github </a> </li>
            <li> <a href="http://"> <i class="fa fa-twitter"></i> Twitter </a> </li>
            <li> <a href="http://"> <i class="fa fa-linkedin"></i> Linkedin </a> </li>
            <li> <a href="http://"> <i class="fa fa-codepen"></i> Codepen </a> </li>
            <li> <a href="http://"> <i class="fa fa-code"></i> Stackblitz </a> </li>
            <li> <a href="http://"> <i class="fa fa-file"></i> CV </a> </li>
          </ul>
        </div>
      </div>

      <div class="section-col about">
        <div class="left-content">
          <p class="left-link"> About </p>
        </div>
        <div class="right-content">
          <p>

            I'm a self-taught software developer with a heavy focus on frontend applications & UI design. My preferred
            stack is TypeScript, Javascript ,Angular & Node.
          </p>

          <p>
            Currently, I'm building web applications to help people live longer at My HealthCOP.
          </p>

          <p>
            I have a great interest in design systems, web accessibility, frontend architecture & design patterns.
          </p>
          <p>
            To reach me, please use linkedin or twitter.
          </p>
        
        </div>
      </div>

      <div class="section-col about">
        <div class="left-content">
          <p class="left-link"> Work  </p>
        </div>
        <div class="right-content">       
          <p> Frontend Engineer @ <a href="https://www.stanbicbank.com.gh/" target="_blank"> Stanbic Bank Ghana </a></p>
          <p> Frontend Architect @ <a href="https://www.myhealthcop.com/" target="_blank"> MyHealthCOP </a></p>
         
        </div>
      </div>


      <div class="section-col about">
        <div class="left-content">
          <p class="left-link"> Projects  </p>
        </div>
        <div class="right-content">       
          <p>  VSCode Theme <a href=""> Blonder theme </a></p>
          <p> Frontend Framework <a href=""> Blonder UI </a></p>
         
        </div>
      </div>





      <div class="section-col stack">
        <div class="left-content">
          <p class="left-link"> Stack & Tools </p>
        </div>
        <div class="right-content">
          <ul class="social-link">
            <li> <a href="http://"> Html </a> </li>
            <li> <a href="http://"> CSS </a> </li>
            <li> <a href="http://"> SaSS </a> </li>
            <li> <a href="http://"> Javascript </a> </li>
            <li> <a href="http://"> Typescript </a> </li>
            <li> <a href="http://"> Figma </a> </li>
            <li> <a href="http://"> Adobe XD </a> </li>
            <li> <a href="http://"> Photoshop </a> </li>
            <li> <a href="http://"> Amazon AWS </a> </li>
            <li> <a href="http://"> Mongodb  </a> </li>
            <li> <a href="http://"> MySQL  </a> </li>
          </ul>
        </div>
      </div>



      <div class="section-col about">
        <div class="left-content">
          <p class="left-link">  Articles  </p>
        </div>
        <div class="right-content">       
          <p> Getting started on any codebase <a href="">  </a></p>
          <p> How to create vscode theme <a href="">  </a></p>
        
        </div>
      </div>



    </div>
  </div>
