<app-header></app-header>
<div class="container">
  <div class="wrapper">
    <header class="main-heading">
      <div class="main-head">
        <h1 class="h1">Hey there</h1>
        <img
          class="profile__img pulse"
          src="assets/images/profile.jpg"
          alt=""
          srcset=""
        />
        <p class="p-4">
          I'm <span class="tag">Samuel Acquah</span>, a front-end web developer
          and designer based in Ghana, Greater Accra <br /><br />
          I've been building stuff on the web for the last 4 years, working with
          clients across various countries and industries. <br /><br />
          My focus is on creating engaging, accessible & performant interfaces
          for humans.
        </p>
      </div>
    </header>

    <div class="section-col about">
      <div class="left-content">
        <p class="left-link">Work</p>
      </div>
      <div class="right-content">
        <p>
          I work at
          <a href="https://www.stanbicbank.com.gh/" target="_blank"
            ><span class="tag">Stanbic Bank</span></a
          >

          Ghana dedicated to building financial solutions, tools , products for our 
          diverse customer needs
        </p>
        <p>
          Previously at
          <a href="https://www.stanbicbank.com.gh/" target="_blank"
            ><span class="tag"> MyHealthCOP </span></a
          >help in building health tools and services
        </p>
       
      </div>
    </div>

    <div class="section-col about">
      <div class="left-content">
        <p class="left-link">Projects</p>
      </div>
      <div class="right-content">
        <p>VSCode Theme <a href=""> Blonder theme </a></p>
        <p>Frontend Framework <a href=""> Blonder UI </a></p>
        <p>Marketing tool UI <a href=""> Sendr</a></p>
      </div>
    </div>

    <div class="section-col social">
      <div class="left-content">
        <p class="left-link">Links</p>
      </div>
      <div class="right-content">
        <ul class="social-link">
          <li>
            <a target="_blank" routerLink="http://">
              <i class="fa fa-github"></i> Github
            </a>
          </li>
          <li>
            <a target="_blank" routerLink="http://">
              <i class="fa fa-twitter"></i> Twitter
            </a>
          </li>
          <li>
            <a target="_blank" routerLink="http://">
              <i class="fa fa-linkedin"></i> Linkedin
            </a>
          </li>
          <li>
            <a target="_blank" routerLink="http://">
              <i class="fa fa-codepen"></i> Codepen
            </a>
          </li>
          <li>
            <a target="_blank" routerLink="http://">
              <i class="fa fa-code"></i> Stackblitz
            </a>
          </li>
          <li>
            <a target="_blank" routerLink="http://">
              <i class="fa fa-file"></i> CV
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="section-col about">
      <div class="left-content">
        <p class="left-link">Articles</p>
      </div>
      <div class="right-content">
        
      </div>
    </div>
  </div>
</div>
