@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;300;400;500;600&display=swap");

.wrapper {
    margin: 0 auto;
    // height: 100vh;
    background-color: rgb(243, 238, 238);
    width: 50rem auto;
    font-family: "Space Mono", monospace;
}

.h1 {
    font-size: 6rem;
    font-family: "Space Mono", monospace;
}

.h5 {
    font-size: 20px;
    font-weight: 500;
    font-family: "Space Mono", monospace;
}

.tag {
    color: rgb(187, 6, 75);
    text-decoration: underline;
}

.p-4 {
    font-size: 1rem;
    text-align: left;
    line-height: 24px;
    font-family: "Space Mono", monospace;
}

.left-link {
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
    text-transform: capitalize;
}

.main-heading {
    display: flex;
    justify-content: center;
    padding: 4em 0;
    text-align: center;

    .profile__img {
        width: 10%;
        border-radius: 400px;
        filter: grayscale(100%);

        &:hover {
            cursor: pointer;
            -webkit-filter: grayscale(0%);
        }
    }

    .main-head {
        width: 35rem;
    }
}

.section-col {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;


    .right-content {
        width: 35rem;
        //   border: 1px solid black;
        text-align: left;
    }
}

.social {
    a {
        text-decoration: none;
        text-align: left;
        font-size: 14px;
        color: rgb(206, 14, 14);
    }

    li {
        // list-style: b;
        // display: inline-block;
        text-decoration: none;
        list-style-type: square;
        // list-style: ;
        // margin: 5px;
        // list-style-type: kannada;
    }
}

.about {
    width: 30rem auto;
    padding: 2rem 0;
    // border: 1px solid rgb(27, 25, 25);
    p {
        margin-bottom: 13px;
        line-height: 1.6rem;
    }

    a {
        text-decoration: none;
        color: rgb(255, 30, 68);
    }
}

.stack {
    width: 30rem;
    // .social-link {
    //     display: flex;
    //     flex-wrap: wrap;
    //     justify-content: flex-start;
    // }

    // a {
    //     text-decoration: none;
    //     color: rgb(21, 8, 8);
    //     border: 1px solid black;
    //     display: inline-block;
    //     margin: 0.3em 3px;
    //     font-size: 14px;
    //     padding: 0.3em 0.4em;
    //     border-radius: 10px;
    // }

    li {
        list-style: none;
        text-decoration: none;
        color: dodgerblue;
    }
}

@media (max-width: 922px) {
    .wrapper {
        width: 100%;
        padding: 2rem;
    }

    .section-col {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;

        .right-content {
            width: 100%;
            // border: 1px solid black;
        }
    }
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(21, 19, 147, 0.876);
    }

    100% {
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
}

.pulse {
    animation: pulse-animation 2s infinite;
}
