<app-header></app-header>
<div class="container">
  <div class="wrapper">
    <header class="main-heading">
      <div class="main-head">
        <h1 class="h1"> Writings </h1>
        
        <div class="single-post">
        <h3 class="h3"> The IndieWeb for Everyone </h3>
        <span class="date"> 12 Nov 2022 | General </span>
        <p>
            Many people are looking for alternatives to Twitter. Can the 
            IndieWeb step up? How can we build better social media for people
             without technical knowledge?
        </p>
      </div>

      <div class="single-post">
        <h3 class="h3"> The IndieWeb for Everyone </h3>
        <span class="date"> 12 Nov 2022 </span>
        <p>
            Many people are looking for alternatives to Twitter. Can the 
            IndieWeb step up? How can we build better social media for people
             without technical knowledge?
        </p>
      </div> 

      <div class="single-post">
        <h3 class="h3"> The IndieWeb for Everyone </h3>
        <span class="date"> 12 Nov 2022 </span>
        <p>
            Many people are looking for alternatives to Twitter. Can the 
            IndieWeb step up? How can we build better social media for people
             without technical knowledge?
        </p>
      </div>

      </div>
    </header>



  </div>
</div>


<app-footer></app-footer>