<div class="cards">

  <div *ngFor="let i of blog" class="card">
    
    <div class="card-wrapper" (click)="goTo(i.id)">
      <!-- <img class="image" src="{{i.image}}}" alt="sampleimage"> -->
      <h6 class="heading"> {{i.meta_description}} </h6>
      <p> {{ i.author}} </p>
      <p class="postBody"> {{i.postBody}} </p>
      <p> {{ i.date}} </p>
      <p class="links" routerLink="lin"> {{ i.documentationurl}} </p>
      <ul *ngFor="let x of i.tags">
        <li> {{x}} </li>
      </ul>
      <p>
        <!-- <mat-icon> date </mat-icon> -->
      </p>

      <!-- <mat-icon aria-label="Example home icon" fontIcon="home"></mat-icon> -->
    </div>
  </div>
</div>
