<!-- <app-header-ad></app-header-ad> -->
<header class="header">
    <div class="logo-container">
      <strong class="logo">
        <a routerLink="/" routerLinkActive="active"> ng-news </a>
      </strong>
    </div>
  
    <div class="search-container">
      <input type="text" class="search-input" placeholder="Search for jobs..." />
    </div>
  
    <div class="navigation-link">
      <ul class="navigation-lists">
        <li class="navigation-list">
          <a routerLink="/" routerLinkActive="active"> Blog </a>
        </li>
        <li class="navigation-list">
          <a routerLink="/profile" routerLinkActive="active"> Profile </a>
        </li>
      </ul>
    </div>
  </header>
  